:root {
	--color-primary: #0073ea;
	--color-primary-hover: #0060b9;
	--color-primary-selected: #cce5ff;

	--color-positive: #258750;
	--color-positive-hover: #007038;
	--color-positive-selected: #bbdbc9;

	--color-negative: #d83a52;
	--color-negative-hover: #d83a52;
	--color-negative-selected: #f4c3cb;

	--color-dark: #323338;
	--color-wolf-grey: #c5c7d0;
	--color-ui-grey: #e6e9ef;
	--color-riverstone: #f5f6f8;
	--color-white: #ffffff;
}

/* Background-color */
.a-all_bg_color--primary {
	background-color: var(--color-primary);
}

.a-all_bg_color--primary-hover {
	background-color: var(--color-primary-hover);
}

.a-all_bg_color--primary-selected {
	background-color: var(--color-primary-selected);
}

.a-all_bg_color--positive {
	background-color: var(--color-positive);
}

.a-all_bg_color--positive-hover {
	background-color: var(--color-positive-hover);
}

.a-all_bg_color--positive-selected {
	background-color: var(--color-positive-selected);
}

.a-all_bg_color--negative {
	background-color: var(--color-negative);
}

.a-all_bg_color--negative-hover {
	background-color: var(--color-negative-hover);
}

.a-all_bg_color--negative-selected {
	background-color: var(--color-negative-selected);
}

.a-all_bg_color--dark {
	background-color: var(--color-dark);
}

.a-all_bg_color--wolf-grey {
	background-color: var(--color-wolf-grey);
}

.a-all_bg_color--ui-grey {
	background-color: var(--color-ui-grey);
}

.a-all_bg_color--riverstone {
	background-color: var(--color-riverstone);
}

.a-all_bg_color--White {
	background-color: var(--color-White);
}

/* Color */
.a-all_color--primary {
	background-color: var(--color-primary);
}

.a-all_color--primary-hover {
	background-color: var(--color-primary-hover);
}

.a-all_color--primary-selected {
	background-color: var(--color-primary-selected);
}

.a-all_color--positive {
	color: var(--color-positive);
}

.a-all_color--positive-hover {
	color: var(--color-positive-hover);
}

.a-all_color--positive-selected {
	color: var(--color-positive-selected);
}

.a-all_color--positive {
	color: var(--color-positive);
}

.a-all_color--positive-hover {
	color: var(--color-positive-hover);
}

.a-all_color--positive-selected {
	color: var(--color-positive-selected);
}

.a-all_color--dark {
	color: var(--color-dark);
}

.a-all_color--wolf-grey {
	color: var(--color-wolf-grey);
}

.a-all_color--ui-grey {
	color: var(--color-ui-grey);
}

.a-all_color--riverstone {
	color: var(--color-riverstone);
}

.a-all_color--white {
	color: var(--color-white);
}