:root {
  --p-variant: 0.5;
  --m-variant: 0.5;
  --radius-variant: 0.2;

  /* Padding */
  --p-1: calc(1rem * var(--p-variant));
  --p-2: calc(2rem * var(--p-variant));
  --p-3: calc(3rem * var(--p-variant));
  --p-4: calc(4rem * var(--p-variant));

  /* Margin */
  --m-1: calc(1rem * var(--m-variant));
  --m-2: calc(2rem * var(--m-variant));
  --m-3: calc(3rem * var(--m-variant));
  --m-4: calc(4rem * var(--m-variant));

  /* border radius */
  --radius-1: calc(1rem * var(--radius-variant));
  --radius-2: calc(2rem * var(--radius-variant));
  --radius-3: calc(3rem * var(--radius-variant));
  --radius-4: calc(4rem * var(--radius-variant));
  --radius-full: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}


.a-all_bg_color-primary {
  background-color: var(--blue_1);
}

.a-all_bg_color-secondary {
  background-color: var(--blue_2);
}

.a-all_bg_color-danger {
  background-color: var(--red_1);
}

.a-all_bg_color-success {
  background-color: var(--green_1);
}

.a-all_bg_color-warning {
  background-color: var(--yellow_1);
}

.a-all_bg_color-info {
  background-color: var(--blue_3);
}

.a-all_bg_color-light {
  background-color: var(--white-default);
}

.a-all_bg_color-dark {
  background-color: var(--black_1);
}