:root {
	--p-variant: 0.5;
	--m-variant: 0.5;
	--radius-variant: 0.4;

	/* Padding */
	--p-1: calc(1rem * var(--p-variant));
	--p-2: calc(2rem * var(--p-variant));
	--p-3: calc(3rem * var(--p-variant));
	--p-4: calc(4rem * var(--p-variant));

	/* Margin */
	--m-1: calc(1rem * var(--m-variant));
	--m-2: calc(2rem * var(--m-variant));
	--m-3: calc(3rem * var(--m-variant));
	--m-4: calc(4rem * var(--m-variant));

	/* border radius */
	--radius-1: calc(0.7rem * var(--radius-variant));
	--radius-2: calc(0.8rem * var(--radius-variant));
	--radius-3: calc(0.9rem * var(--radius-variant));
	--radius-4: calc(1rem * var(--radius-variant));
	--radius-full: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

.a-all_radius--1 {
	border-radius: var(--radius-1);
}

.a-all_radius--2 {
	border-radius: var(--radius-2);
}

.a-all_radius--3 {
	border-radius: var(--radius-3);
}

.a-all_radius--4 {
	border-radius: var(--radius-4);
}