/* Variant */
$p-variant: 0.5;
$m-variant: 0.5;
$radius-variant: 0.5;

/* Padding */
$p-1: calc(1rem * #{$p-variant});
$p-2: calc(2rem * #{$p-variant});
$p-3: calc(3rem * #{$p-variant});
$p-4: calc(4rem * #{$p-variant});

/* Margin */
$m-1: calc(1rem * #{$m-variant});
$m-2: calc(2rem * #{$m-variant});
$m-3: calc(3rem * #{$m-variant});
$m-4: calc(4rem * #{$m-variant});

/* border radius */
$radius-small: calc(0.6rem * #{$radius-variant});
$radius-medium: calc(0.8rem * #{$radius-variant});
$radius-large: calc(1rem * #{$radius-variant});
$radius-full: 100%;
