@import './_fonts.scss';
@import './_colors.scss';
@import './_reset.scss';

.a-all_radius--small {
	border-radius: $radius-small;
}

.a-all_radius--medium {
	border-radius: $radius-medium;
}

.a-all_radius--large {
	border-radius: $radius-large;
}