@import './_fonts.scss';
@import './_colors.scss';
@import './_reset.scss';

.a-all_radius--1 {
	border-radius: $radius-1;
}

.a-all_radius--2 {
	border-radius: $radius-2;
}

.a-all_radius--3 {
	border-radius: $radius-3;
}

.a-all_radius--4 {
	border-radius: $radius-4;
}